<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body onload="javascript: init_login();">
    <h2>From server: {{ server_ip }}!</h2>
    <h2>Login</h2>
    <form id="loginForm" action="#" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <div id="message"></div>
    <h2>Test Users:</h2>
    <div>user1/password1</div>
    <div>user2/password2</div>
    <script src="/js/home.js"></script>
</body>
</html>
